@import '../../../../uikit/common';

.cloud-config {
  @include wizard-step-form();
  @include wizard-form-section-title();
  @include wizard-form-row();
  @include wizard-form-text-label();
  @include wizard-form-footer();

  &__reset {
    color: $YB_CTA;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    font-family: $YB_FONT_FAMILY;
    user-select: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__label--right {
    text-align: right;
  }

  &__number-input {
    width: 120px;
  }
}
